.add-to-cart-box {
	.btn,
	button,
	app-product-cart-button button {
		color: #111 !important; /* ensure readable text */
	}
}

.product-style-2 .wishlist-button,
.product-style-2 .btn-wishlist {
	color: #111;
}

