
<div class="price-slider">
  <div class="slider-values">
    <span>{{ minValue | currencySymbol }}</span>
    <span>{{ maxValue | currencySymbol }}</span>
  </div>

  <div class="range-slider">
    <div class="slider-track" [style.background]="sliderBackground"></div>

    <input
      type="range"
      class="range-input"
      [min]="minLimit"
      [max]="maxLimit"
      [step]="1"
      [value]="minValue"
      (input)="onMinInput($event)"
      (change)="onRangeCommit()"
    >

    <input
      type="range"
      class="range-input"
      [min]="minLimit"
      [max]="maxLimit"
      [step]="1"
      [value]="maxValue"
      (input)="onMaxInput($event)"
      (change)="onRangeCommit()"
    >
  </div>

  <button
    type="button"
    class="btn btn-link btn-sm px-0"
    (click)="clearRange()"
    *ngIf="hasActiveRange()"
  >
    {{ 'clear' | translate }}
  </button>
</div>
